*{
    margin: 0;
    padding: 0;   

}

header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;    
}

button{
    width: 80px;
    cursor: pointer;
}